body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.h1 {
  colar:rgb(0, 255, 242);
 font-size: 70px;
}
ul {
  list-style-type: decimal;
  font-size: xx-large;
}
.blue {
  color: rgb(0, 204, 255);
  font-size:  50px ;
}
a:hover {
  color: gray;
}
a{
  color: rgb(247, 0, 255);
}
.container {
  background-color: rgb(14, 13, 14);
  width:auto;
  height: 70px;
  border: 10px solid rgb(15, 153, 245);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.item1 {
  background-color: rgb(0, 255, 4);
  color: rgb(255, 174, 0);
  width: 100px;
  font-size: large;
  font-style: normal;
  text-align: center;
  margin: auto 0;
  cursor: pointer;
}
.item2 {
  background-color: rgb(0, 255, 89);
  color: rgb(255, 179, 0);
  width: 100px;
  font-size: large;
  font-style: normal;
  text-align: center;
  margin: auto 0;
  cursor: pointer;
}
.item1:hover {
  background-color: rgb(255, 174, 0);
}
.item2:hover {
  background-color: rgb(255, 174, 0);
}
.invisible {
  display: none;
}
.item1Info{
  color: aqua;
  font-size:xx-large
}
